:root{
  --xs: 280px;
  --small-phone: 320px;
  --mobile: 375px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1440px;
  --large-desktop: 2560px;
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --base: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--green-500) var(--cream);
  background-color: var(--cream);
  color: var(--grey);
  font-size: var(--base);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
}
.card{
  max-width: 95%;
  margin: 15% auto 15% auto;
  border-radius: 10px;
  background-color: var(--white);
}
.container{
  padding: 25px;
}
img{
  width: 100%;
  border-radius: 10px  10px 0 0; 
}
h1, h2{
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}
h1{
  color: var(--black);
}
h2{
  color: var(--green-500);
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: var(--base);
  line-height: 30px;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
}
button{
  font-weight: 700;
  background-color: var(--green-500);
  color: var(--white);
}
button:hover{
  background-color: var(--green-700);
  cursor: pointer;
}
.price-markdown{
  text-decoration: line-through;
}
footer{
  text-align: center;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 25px;
  color: var(--white);
  border-top: 2px solid var(--green-700);
  background-color: var(--green-500);
}
a{
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}
a:hover{
  color: var(--cream);
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}
/* a:visited{
  color: var(--green-700);
} */